.white-button {
	font-weight: 300;
	background: white;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	color: #146cba;
	margin-top: 20px;
}

.blue-button {
	display: inline-block;
	font-weight: 300;
	background: #146cba;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	color: white;
	margin-top: 20px;
}
