@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

* {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
}

strong {
	font-weight: 500;
}

a {
	color: white;
}
